*{
    font-family: 'Open Sans', sans-serif;
}

.primary-btn{
    border-radius: 5px;
    background-color :#FD6E0A ;
    border: 0;
    color: #ffffff;
    font-weight: 700;
    font-size:20px;
    padding: 15px 35px;

}
/* nav related styles */
.nav-title {
    color: black; 
}
.text-primary{
    color: #FD6E0A;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center ;
    margin: 0px 200px;
}
.nav-title{
    color: black;
    font-size: 45px;
    font-weight: 800;
}

nav >ul {
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
    padding: 5px;
}
nav a {
    text-decoration: none;
    color: #474747;
}
/* Header related style */
.header{
    background-color: #FFF8F3;
    
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.banner > img{
    width: 500px;
}